.content {
    height: 100%;
    display: flex;
    padding: 3.2rem 6.4rem;
}

#canvas {
    border: solid black 1px;
    border-radius: 0.8rem;
}

.input {
    padding: 0.8rem;
    border-radius: 0.4rem;
}